/* universal */
html{
	height: 100%;
}

body{
	margin: 0;
	font-family: titling-gothic-fb, sans-serif;
	color: white;

	background-image: url(../img/body/background.jpg);
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
}

img{
	max-width: 100%;
}

p {
	font-size: 16px;
	font-weight: 200;
	line-height: 160%;
	color: #7d7d7d;
}
#map-description{
	font-size: 12px;
	font-weight: 200;
	line-height: 160%;
	color: #7d7d7d;
}


h1{
	display: inline;
	font-family: titling-gothic-fb, sans-serif;
	font-size: 25px;
	font-weight: 300;
	line-height: 150%;
	color:#000000;
	background: #fdd33e;
}


#map-headline{
	display: inline;
	font-family: titling-gothic-fb, sans-serif;
	font-size: 20px;
	font-weight: 500;
	color:#000000;
}

h2{
	display: inline;
	font-family: titling-gothic-fb, sans-serif;
	font-size: 18px;
	text-align: left;
	font-weight: 300;
	line-height: 150%;
}

h3{
	font-family: titling-gothic-fb, sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 120%;
	display: inline;
	color:#000000;
	background: #fdd33e;
}

h4{
	display: inline-block;
	font-family: titling-gothic-fb, sans-serif;
	font-size: 25px;
	font-weight: 300;
	color:#000000;
	background: #fdd33e;
}


h5{
	font-size: 16px;
	font-weight: 200;
	color: #7d7d7d;
	margin-top: -15px;
	margin-left: 40px;
	line-height: 120%;
}

h5 a{
	font-size: 16px;	
	font-style: italic;
	font-weight: 200;
	color: #7d7d7d;
	text-decoration: none;
}

h5 a:hover{
	font-weight: 300;
	color: white;
}


em{
	font-size: 16px;
	font-weight: 300;
	line-height: 160%;
	font-style: normal;
	color: white;
}


.aligned-right{
	text-align: right;
}

.aligned-left{
	text-align: left;
}

.aligned-center{
	text-align: center;
}

.align-items-center{
	align-items: center;
}
 
/* navigation*/
.billie-eilish-logo{
	max-width: 22%;
	margin-top: -12px;
	position: fixed;
	z-index: 1;
}

nav{
	font-family: titling-gothic-fb-wide, sans-serif;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 1;
	
}

.navigation {
	margin-top: 70px;
	margin-left: 100px;
	margin-right: 100px;
}

.navigation li{
	display: inline-block;
	margin: 0px 25px;

	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	font-weight: 300;
}

.navigation li a{
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	font-weight: 300;
	
}

.navigation li a:hover{
	color: rgba(0, 0, 0, 1);
	background-color: #fdd33e;
	font-weight: 500;

}

/* #nav-selected{
	color: rgba(0, 0, 0, 1);
	background-color: #fdd33e;
	font-weight: 500;

} */

#nav-selected{
	color: white;
	font-weight: 500;
}

#nav-selected:hover{
	color: rgba(0, 0, 0, 1);
	font-weight: 500;
}


.navigation :not(:first-child) {
	float: right;
}

/* header */
.page-info {
	position: absolute;
	margin-left: 30%;
	margin-top: 18%;
	max-width: 40%;
	z-index: 1;
}


.slideshow {
	background-size: cover;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	overflow: hidden;
	margin: auto;
	white-space: nowrap;
}

.slideshow-wrapper {
	position: relative;
	transition: transform .4s;
}

.slide {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.prev, .next {
	margin-left: 100px;
	margin-right: 100px;
	cursor: pointer;
	position: absolute;
	top: 45%;
	font-size: 40px;
	transition: 0.5s ease;
	user-select: none;
	color: rgba(255, 255, 255, 0.5);
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	color: rgba(255, 255, 255, 1);
}

/* biography */
.biography-wrapper{
	max-width: 70vw;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

.billie-eilish-headline{
	max-width: 60%;
	margin-top: 20px;
	margin-left: -5px;
	margin-bottom: 20px;
}

.biography-description{
	margin-bottom: 50px;
}

.biography-description-row{
	margin: -5px 0px;
}

/* music */
.music-wrapper{
	max-width: 70vw;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

.music-description{
	margin-top: 100px;
}

.album01{
	margin-top: 100px;
}

.image-album{
	margin-right: 40px;
	max-width: 70%;
}

.album-description{
	margin-left: 20px;
}

.image-album-scratch-01{
	position: absolute;
	margin-left: -10px;
	margin-top: -10px;
}

.image-album-scratch-02{
	position: absolute;
	margin-left: -10px;
	margin-top: -10px;
}

/* gallery */
.gallery-description{
	margin-top: 120px;
	margin-bottom: -40px;
}

.gallery-wrapper{
	max-width: 65vw;
	text-align: center;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

.row{
	margin-bottom: 40px;
}

.col-sm{
	margin-left: 30px;
	margin-right: 30px;
}

/* newsletter */
.linebreak{
	max-width: 100vw;
	margin-top: 50px;
	margin-left: -30px;
	margin-right: auto;
	align-items: center;
	align-content: center;
}

.newsletter-wrapper{
	max-width: 70vw;
	margin-top: 50px;
	margin-bottom: -20px;
	margin-left: -30px;
	margin-right: auto;
	align-items: center;
	align-content: center;
}

.subscribe{
	max-width: 80%;
}

.newsletter_form_container
{
	margin-top: -8px;
	margin-left: -100px;
	height: 100%;
}

.newsletter_input
{
	width: 300px;
	height: 25px;
	padding-left: 10px;

	font-family: titling-gothic-fb, sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
}

.newsletter_button
{
	background-color: #fdd33e;
	margin-left: 10px;
	width: 120px;
	height: 25px;
	cursor: pointer;
	border: none;
	text-decoration: none;
	
	font-family: titling-gothic-fb, sans-serif;
	font-size: 14px;
	font-weight: 300;
}

/* ticket */
.ticket-wrapper{
	max-width: 70vw;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

#searcharea{
    margin-top: 20px;
    margin-bottom: 80px;
}

#search{
    font-size: 14px;
    font-style: italic;
}

#update ul{
	list-style: none;
	margin-top: -10px;
}

li{
	margin-top: -10px;
}

/* music-page */
.music-page-wrapper{
	max-width: 70vw;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

.music-page-description{
	margin-top: 100px;
}

